@font-face{
  font-family: 'ViperFangsMav-v3';
  src: url('/fonts/ViperFangsMac-v3.ttf');
}
h1{
  color: red;
}
p{
  color: mediumspringgreen;
}


#t1{
  font-size: 20px;
}

.c1{
font-family: 'ViperFangsMac-v3';
font-style: italic;
font-weight: normal;
font-size: 40px;
color: palevioletred;
text-indent: 5px;
text-decoration: underline;
letter-spacing: 2px;
}

body{
  background: linear-gradient(to top, green, goldenrod);
}
.h16{
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
}

